/* 
colors:

#fcf7f1
#f3da3f
#e9bb2a
#d09024
#c06b0e
#ff7a2d
#fe5706
#fd332f
#b44939
#2c2419
#51a584
#5da88a
#1e2e47
#323d3f
#1e2223
#99afbc
#99a3af

*/


#page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    display: flex;
    flex-direction: column;
    min-width: 450px;
    min-height: 500px;
    height: 500px;
    background-color: #2c2419;
    padding: 20px;
    border-radius: 10px;
}

#display{
    border-radius: 5px;
    flex: 1;
    background-color: #fcf7f1;
    margin: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}

#output{
    font-size: xxx-large;
    font-family: 'Monaco';
}

.calc-row{
    display: flex;
    flex-direction: row;
    flex: 1;
}

#zero{
    flex-basis: 50%;
    border-right: 1px;
    margin-right: 2px;
}

button{
    flex-basis: 25%;
    margin: 1px;
    border-radius: 5px;
}

#page-container{
    background-color: #1e2e47;
}

#calculator{
    background-color: #2c2419;
}

body{
    margin: 0;
}



.number,
#decimal{
    background-color: #51a584;
}

#clear{
    background-color: #fd331f;
}

#sign-change,
#percent{
    background-color: #f3da3f;
}

.operators{
    background-color: #99afbc;
}

#equals{
    background-color: #ff7a2d;
}



